.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 40px 20px; */
  /* background: linear-gradient(90deg, #ccd0d3 0%, #c9c6cc 50%, #c7c2c7 100%); */
  /* box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); */
  margin: 40px 100px 40px 100px;
}

.cta .container {
  margin: 0 auto;
  max-width: 950px;
}

.cta h1 {
  color: var(--main-heading);
  font-size: 48px;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.cta p {
  color: #34495e;
  line-height: 2.5rem;
  font-size: 24px;
  margin-bottom: 30px;
}

.cta .btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  border-radius: 30px;
  padding: 12px 30px;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.cta .btn:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

@media (min-width:769px) and (max-width: 1024px) {
  .cta h1 {
    font-size: 36px;
    line-height: 3rem;
  }

  .cta {
    margin: 40px 70px 40px 70px;
  }

  .cta p {
    font-size: 20px;
    line-height: 2.2rem;
  }

  .cta .btn {
    font-size: 18px;
    padding: 10px 25px;
  }
}

@media (max-width: 768px) {
  .cta {
    flex-direction: column;
    /* padding: 30px 15px; */
    margin: 40px 20px 40px 20px;
  }

  .cta h1 {
    font-size: 28px;
    line-height: 2.5rem;
  }

  .cta p {
    font-size: 18px;
    line-height: 2rem;
  }

  .cta .btn {
    font-size: 16px;
    padding: 8px 20px;
  }
}
