.blog-section{
  /* margin: 40px 100px 100px 100px; */
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.blog-main-heading {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--main-heading);
}

.blog-main-heading::before{
  content: "✱";
  margin-right: 0.5rem;
}

.blog-heading {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.line-title {
  position: relative;
  width: 400px;
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.item {
  flex-shrink: 0;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  border: 1px solid #dcd5d5;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding-bottom: 12px;
  background: rgb(236,230,230);
background: linear-gradient(0deg, rgba(236,230,230,1) 25%, rgba(180,146,94,1) 82%);
}

[data-theme="dark"] .item{
  border: 1px solid #555;
  background: rgb(23,21,21);
  background: linear-gradient(0deg, rgba(23,21,21,1) 25%, rgba(180,146,94,1) 82%);
}

.item.active {
  width: 500px;
  /* box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25); */
}

.item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.item-desc {
  padding: 0 24px 12px;
  color: var(--p-color);
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
}

.item.active .item-desc {
  transform: translateY(0);
}

.item-desc h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: var(--text-color);
}

.item-desc p {
  opacity: 0;
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--text-color);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
}

.item-desc button {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 60px;
}

.item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth; 
  /* padding: 10px 0; */
  scrollbar-width: thin; 
  scrollbar-color: #ccc transparent; 
}

.custom-carousel::-webkit-scrollbar {
  height: 8px; 
}

.custom-carousel::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px;
}

.custom-carousel::-webkit-scrollbar-track {
  background-color: transparent; 
}


@media (min-width: 769px) and (max-width: 1024px) {
  .line-title{
    width: auto;
  }

  .item.active{
    width: 320px;
  }

  .blog-section{
    /* margin: 40px 70px 100px 70px; */
    padding: 40px 70px;
  }
}


@media (max-width: 768px) {
  .blog-section {
    /* margin: 40px 20px 40px 20px; */
    padding: 40px 20px;
  }

  .blog-heading{
    font-size: 25px;
  }
}


