.blog-section{
  /* margin: 40px 100px 100px 100px; */
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.blog-main-heading {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--main-heading);
}

.blog-main-heading::before{
  content: "✱";
  margin-right: 0.5rem;
}

.blog-heading {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.line-title {
  position: relative;
  width: 400px;
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.item {
  flex-shrink: 0;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  border: 1px solid #dcd5d5;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding-bottom: 12px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(239,239,239,1) 82%);
}

[data-theme="dark"] .item{
  border: 1px solid #555;
  background: rgb(75,73,70);
background: linear-gradient(0deg, rgba(75,73,70,1) 25%, rgba(29,27,27,1) 82%);
}

.item.active {
  width: 500px;
  /* box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25); */
}

.item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.item-desc {
  padding: 0 24px 12px;
  color: var(--p-color);
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
}

.item.active .item-desc {
  transform: translateY(0);
}

.item-desc h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: var(--text-color);
}

.item-desc p {
  opacity: 0;
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--text-color);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
}


.item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth; 
  /* padding: 10px 0; */
  scrollbar-width: thin; 
  scrollbar-color: #ccc transparent; 
}

.custom-carousel::-webkit-scrollbar {
  height: 8px; 
}

.custom-carousel::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px;
}

.custom-carousel::-webkit-scrollbar-track {
  background-color: transparent; 
}


.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background: rgb(55, 55, 55);
  background: linear-gradient(0deg, rgba(55, 55, 55, 1) 0%, rgba(85, 85, 85, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn span {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  display: block;
  padding: 0px 20px;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(85, 85, 85, 1);
  transition: all 0.3s ease;
}

.btn:before {
  height: 0%;
  width: 2px;
}

.btn:after {
  width: 0%;
  height: 2px;
}

.btn:hover {
  background: transparent;
  box-shadow: none;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.btn span:hover {
  color: var(--text-color);
}

.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(85, 85, 85, 1);
  transition: all 0.3s ease;
}

.btn span:before {
  width: 2px;
  height: 0%;
}

.btn span:after {
  width: 0%;
  height: 2px;
}

.btn span:hover:before {
  height: 100%;
}

.btn span:hover:after {
  width: 100%;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .line-title{
    width: auto;
  }

  .item.active{
    width: 320px;
  }

  .blog-section{
    /* margin: 40px 70px 100px 70px; */
    padding: 40px 70px;
  }
}


@media (max-width: 768px) {
  .blog-section {
    /* margin: 40px 20px 40px 20px; */
    padding: 40px 20px;
  }

  .blog-heading{
    font-size: 25px;
  }
}


