/* CommonBanner.css */
.common-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  background: rgb(231, 231, 231);
  background: radial-gradient(circle, rgba(231, 231, 231, 1) 0%, rgba(253, 246, 247, 1) 100%);
  height: auto; /* Ensure the banner takes full viewport height */
  overflow: hidden; /* Prevents content from overflowing */
}

[data-theme="dark"] .common-banner {
  background: rgb(85, 81, 81);
  background: radial-gradient(circle, rgba(85, 81, 81, 1) 0%, rgba(18, 16, 16, 1) 100%);
}

.common-banner .common-banner-container {
  position: relative;
  z-index: 2; /* Ensures the text is above the FinisherHeader */
  max-width: 950px;
}

.common-banner h1 {
  color: var(--main-heading);
  font-size: 80px;
  font-weight: 700;
  line-height: 3.5rem;
  margin: 0;
  padding-top: 80px;
}

.common-banner p {
  color: var(--text-color);
  line-height: 2.5rem;
  font-size: 22px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .common-banner h1 {
    font-size: 50px;
    line-height: 3rem;
  }

  .common-banner {
    padding: 40px 70px;
  }

  .common-banner p {
    font-size: 20px;
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  .common-banner {
    flex-direction: column;
    padding: 40px 20px;
  }

  .common-banner h1 {
    font-size: 40px;
    line-height: 2.5rem;
  }

  .common-banner p {
    font-size: 18px;
    line-height: 2rem;
  }
}
