.feature-section {
  margin: 40px 100px 100px 100px;
}

.feature-main-heading{
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--main-heading);
}

.feature-main-heading::before{
  content: "✱";
  margin-right: 0.5rem;
}

.feature-heading {
  font-size: 50px;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;

}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 45px;
  width: 100%;
  margin-inline: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.container-card {
  position: relative;
  /* background: linear-gradient(71deg, #f0f0f0, #ffffff, #f0f0f0); */
  background-color: rgb(252,252,252);
  background-clip: padding-box;
  border-radius: 15px;
  border: 1px solid rgb(220, 213, 213);
  padding: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.card-title {
  font-weight: 600;
  color: #333;
  font-size: 24px;
  padding-top: 20px;
  text-align: left;
}

.card-description {
  font-weight: 600;
  color: #666;
  font-size: 16px;
  text-align: left;
  margin-top: -8px;
}

/* .container-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
} */

/* .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
} */

@media (max-width: 768px) {
  .gradient-cards {
    grid-template-columns: 1fr; 
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 15px;
  }

  .container-title{
    font-size: 30px;
  }

  .feature-section {
    margin: 40px 20px 40px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gradient-cards {
    grid-template-columns: repeat(2, 1fr); 
  }

  .feature-section {
    margin: 40px 70px 100px 70px;
  }
}
