.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 30px;
  margin: 2% 3%;
}

.container-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  margin-top: 40px;
  color: #333;
  font-weight: 600;
  line-height: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 45px;
  width: 100%;
  margin-inline: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.container-card {
  position: relative;
  border: 2px solid #ccc;
  background: linear-gradient(71deg, #f0f0f0, #ffffff, #f0f0f0);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title {
  font-weight: 600;
  color: #333;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
  padding-top: 15px;
  text-align: center;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: #666;
  font-size: 16px;
  text-align: center;
}

.container-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .gradient-cards {
    grid-template-columns: 1fr; 
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 15px;
  }

  .container-title{
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gradient-cards {
    grid-template-columns: repeat(2, 1fr); 
  }
}
