.process{
  padding: 40px 100px;
  background-color: var(--bg-color);
}

.process-section {
    display: flex;
    height: 100vh;
    /* margin: 40px 100px 100px 100px; */
}

.process-main-heading {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--main-heading);
  }

.process-heading{
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  }

  .process-main-heading::before{
    content: "✱";
    margin-right: 0.5rem;
  }

  .process-main-description{
    font-size: 50px;
    line-height: 4rem;
  }

  .process-description-span{
    font-weight: 800;
    color: var(--main-heading);
  }


.process-description {
    flex: 1; 
    line-height: 3rem;
}

.divider {
  margin-left: 35px;
  border: 1px solid rgb(220, 213, 213);
  margin-top: 4%;
  margin-bottom: 10%;
}

.process-item-heading {
    font-size: 1.5rem;
    margin-top: 20px;
}

.process-item-description {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: -28px;
    color: var(--p-color);
}

.process-img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.process-list {
    flex: 1; 
    overflow-y: scroll; 
    padding: 20px;
}


.process-list::-webkit-scrollbar {
    display: none; 
}

.process-list {
    scrollbar-width: none; 
}

.process-item {
    margin-bottom: 15px; 
    padding: 15px;
    border-radius: 5px; 
    background-color: var(--bg-color); 
}


h2, h3, h4 {
    color: var(--text-color); 
    /* text-transform: uppercase; */
}

p {
    color: var(--text-color); 
}


 @media (min-width: 769px) and (max-width: 1024px) {
    .process-img {
      max-width: 500px;
    }

    .process-section{
      /* margin: 40px 70px 100px 70px; */
      padding: 40px 70px;
    }
  
  }
  

  @media (max-width: 768px) {
    .process-section {
      display: block;
      overflow: scroll;
      /* margin: 40px 20px 40px 20px; */
      padding: 40px 20px;
    }

    .process-list {
        padding: 0px;
    }

    .process-description {
        line-height: 2rem;
        text-align: center;
    }

    .process-main-description{
      font-size: 30px;
      line-height: 2.5rem;
    }
  
    .process-img {
      max-width: 300px;
    }

    .process-item-heading{
      font-size: 1.2rem;
    }

    .process-item-description{
      padding-top: 20px;
      font-size: 0.8rem;
    }
  }
  
  