.testimonial {
  background-color: var(--bg-color);
  /* margin: 40px 100px 100px 100px; */
  padding: 40px 100px;
}

.testimonial-container {
  display: flex;
  justify-content:space-between;
}

.testimonial-main-heading{
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--main-heading);
}

.testimonial-main-heading::before{
  content: "✱";
  margin-right: 0.5rem;
}

.testimonial-heading {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color);
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.testimonial-quote {
  font-size: 32px;
  color: var(--text-color);
  padding-right: 40px;
  line-height: 3rem;
  border-bottom: 1px solid #dcd5d5;
  padding-bottom: 40px;
}

[data-theme="dark"] .testimonial-quote{
  border-bottom: 1px solid #555;
}

.testimonial-content {
  /* max-width: 850px; */
  flex: 8;
}

.quote-mark {
  font-size: 48px;
  color: var(--text-color);
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-info {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name {
  font-size: 24px;
  color: var(--text-color);
}

.author-title {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-heading);
}

.testimonial-controls {
  margin-top: 20px;
}

.control-btn {
  font-size: 18px;
  color: var(--text-color);
  background: none;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 0 5px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: var(--bg-color);
}

.rating-card {
  border-radius: 10px;
  border: 1px solid #dcd5d5;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bg-color);
  max-width: 360px;
  flex: 4;
  margin-right: 35px;
}

[data-theme="dark"] .rating-card{
  border: 1px solid #555;
}

.rating-score {
  font-size: 80px;
  font-weight: 300;
  color: var(--text-color);
}

.rating-stars {
  font-size: 2rem;
  margin: 10px 0;
  color: var(--main-heading);
}

.review-count {
  font-size: 1rem;
  color: var(--text-color);
}

.description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 20px 0;
  padding: 0 10px;
  color: var(--text-color);
}


/* Responsive Styles */
@media (min-width:769px) and (max-width: 1024px) {
  .testimonial-container{
    flex-direction: column;
  }

  .testimonial{
    /* margin: 40px 70px 100px 70px; */
    padding: 40px 70px;
  }

  .testimonial-heading{
    font-size: 35px;
  }

  .testimonial-quote{
    font-size: 22px;
    line-height: 2rem;
    margin-top: 20px;
  }

  .rating-card{
    margin: auto;
  }
}

@media (max-width: 768px) {
  .testimonial-heading{
    font-size: 25px;
  }

  .rating-card{
    margin-right: 0px;
  }

  .testimonial{
    /* margin: 40px 20px 40px 20px; */
    padding: 40px 20px;
  }

  .testimonial-container{
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .testimonial-content{
    text-align: center;
  }

  .testimonial-quote{
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 20px;
    padding-right: 0px;
  }

  .testimonial-author{
    display: block;
    text-align: center;
  }

  .author-info{
    text-align: center;
    justify-content: center;
  }
}
